- if logged_in?
  = render 'layouts/navbar_logged'
  .container
    .row
      #camera-view
    .row
      #data-tables
- else
  = render 'layouts/navbar'
  = render 'layouts/flash'
  .container
    .row
      #camera-view
