= render 'layouts/navbar'
= render 'layouts/flash'
.container#camera
  %img{src: 'http://192.168.1.137:9090/stream/video.mjpeg', alt: 'Something goes wrong, sorry ;('}
- if logged_in?
  .container#data-table
    .row#predefined-filters
      #today-filter.btn.grey-btn.inline Today
      #yesterday-filter.btn.grey-btn.inline Yesterday
      #last-7-days-filter.btn.grey-btn.inline Last 7 days
      #last-30-days-filter.btn.grey-btn.inline Last 30 days
      #all-filter.btn.grey-btn.inline All
    .row#data
      = render 'home/filters'
      %table#events.row-border{cellspacing: 0}
        %thead  
          %tr
            %th No.
            %th Direction
            %th Date
            %th Photo
        %tbody
          = render @events
  .container#graph
    .row
      .chart
        %canvas#chart
- else
  .container#more-info.text-center
    %h3 Sign up to see data tabel and graphs.