%tr
  %td= @events.index(event) + 1
  - if event.walked_in
    %td
      .fa.fa-share{title: 'Walked in'}
        in
  - else
    %td
      .fa.fa-reply{title: 'Walked out'}
        out
  %td= event.created_at.strftime('%d %b %Y %H:%M:%S')
  %td
    - if event.photo == 'no photo'
      no photo
    - else
      = link_to 'link', '#photoModal', class: "show-modal", data: {toggle: "modal"},
      src: "/events_photos/photo_#{event.created_at.strftime('%d%m%Y%H%M%S')}.jpeg"
