%tr
  %td= @events.index(event) + 1
  - if event.walked_in
    %td
      .fa.fa-share{title: 'Walked in'}
  - else
    %td
      .fa.fa-reply{title: 'Walked out'}
  %td= event.created_at.strftime('%d/%m/%Y %H:%M:%S')
  %td= event.photo