@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Arvo');

/* colors */

$fake-camera-color: #ADAFAD;
$dark-grey:         #3E3E3E;
$white:             #F5F5F5;
$light-grey:        #9E9E9E;
$very-light-grey:   #FFFFFF;
$google-color:      #DD4B39;
$red:               #C20000;
$green:             #229200;

/* fonts */

$brand-font: 'Arvo', sans-serif;

body {
  min-height: 100vh;
  background-color: $white;
}

.row {
  width: 90%;
  margin: 50px auto;
}

#camera-view {
  text-align: center;
  margin: 30px 0;
}

/* navbar */

nav {
  margin: auto;
  width: 80%;
  &.navbar {
    border-radius: 0;
    border-bottom: 1px solid $light-grey;
    border-top: none;
    background-color: $white;
    margin-bottom: 0;
    .navbar-brand {
      font-family: $brand-font;
      font-size: 1.7em;
      color: $dark-grey;
      &:hover {
        color: $light-grey;
      }
    }
    li:nth-child(2) {
      border-left: 1px solid $light-grey;
      border-right: 1px solid $light-grey;
    }
    li > a {
      color: $dark-grey;
      font-size: 1.25em;
      text-decoration: none;
      &:hover {
        color: $light-grey;
        background-color: $white;
      }
    }
  }
}

/* login-with-google-icon */

.oauth-icons {
  display: inline-block;
  position: relative;
  width: 80px;
  padding-bottom: 40px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 5%;
  &:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: inherit;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .2s ease;
    border-radius: 5%;
  }
  .text {
    white-space: nowrap; 
    font-size: 0.85em;
    position: absolute;
    overflow: hidden;
    font-family: $brand-font;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    a {
      text-decoration: none;
      color: $white;
      font-weight: bold;
    }
  }
  .fa {
    color: $white;
    font-size: 2em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.google {
  background-color: $google-color;
}

/* cookies */

.cookies-eu-container {
  width: 80%;
  margin: auto;
  text-align: justify;
  &> .text-center {
    margin-top: 20px;
  }
  a {
    color: $dark-grey;
    font-size: 1.5em;
  }
}

.cookies-eu .cookies-eu-button-holder .cookies-eu-ok {
  background-color: $dark-grey;
  color: $white;
  border-radius: 4px;
  padding: 3px 12px;
  &:hover {
    font-weight: bold;
    background-color: $light-grey;
  }
}

/* flash messages */

.alert {
  width: 80%;
  margin: auto;
}


/* edit user page */

.logged-user-profile {
  margin: 50px auto;
  width: 320px;
  border: 1px solid $light-grey;
  border-radius: 4px;
  background-color: $very-light-grey;
  padding: 20px 30px;
}

/* buttons */

.btn {
  margin: auto;
  color: $white;
  border: none;
  display: block;
  &:hover, &:focus {
    color: $white;
  }
}

.grey-btn {
  width: 80%;
  background-color: $dark-grey;
  color: $white;
  border-radius: 4px;
  padding: 8px 12px;
  &:hover {
    background-color: $light-grey;
  }
}

.red-border-btn {
  width: 50%;
  margin-top: 15%;
  border: 1px solid $red;
  color: $red;
  &:hover {
    background-color: $red;
  }
  &:focus {
    color: $red;
  }
}

#reset-date-range-btn {
  margin-bottom: 20px;
}

/* data-table */

#events {
  font-family: $brand-font;
  width: 100%;
  td, th {
    text-align: center;
  }
  tr:hover {
    background-color: $white;
  }
  .fa-reply {
    color: $red;
  }
  .fa-share {
    color: $green;
  }
}

#events_length {
  display: none;
}

input {
  box-shadow: none;
  padding: 5px 12px;
  border: 1px solid $light-grey;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  &:hover, &:active {
    color: $white !important;
    border-color: $dark-grey !important;
    background: none !important;
    background-color: $dark-grey !important;
  }
  &.current {
    border-color: $light-grey !important;
    background: none !important;
    background-color: $white;
  }
}

/* filters */

#filters {
  margin: 0 auto 10px auto;
  float: left;
  margin-top: 15px;
  width: 130px;
}

#events_filter {
  display: none;
}

#events_wrapper {
  float: right;
  clear: none;
  width: 75%;
}

.dataTables_filter {
  text-align: center !important;
  float: none !important;
  }

@media only screen and (max-width: 767px) {

  #filters, #events_wrapper {
    float: none;
    width: 100%;
    display: inline-block;
  }

  #events_wrapper {
    width: 100%;
  }
  li:nth-child(2) {
    border: 1px solid $light-grey;
    border-bottom: none;
  }
  .row {
    width: 100%;
  }
  .container {
    padding: 0px;
  }
  nav.mobile {
    width: 95%;
    text-align: center;
    ul.navbar-nav {
      margin-bottom: 0;
    }
    .navbar-brand {
      float: none;
    }
    .navbar-header {
      margin-top: 15px;
    }
  }
}