@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Arvo');

/* colors */

$dark-grey:               #3E3E3E;
$dark-grey-darker:        #302F2F;
$dark-grey-lighter:       #555555;
$light-grey:              #9E9E9E;

$white:                   #FFFFFF;
$almost-white:            #F5F5F5;
$menu-font-color:         #C9C9C9;
$white-row-border-color:  #d6d6d6;

$google-color:            #DD4B39;
$red:                     #C20000;
$red-opacity:             rgba(194, 0, 0, 0.5);
$green:                   #229200;
$green-opacity:           rgba(34, 146, 0, 0.5);
$light-blue:              #1F64BE;
$medium-blue:             #1956A7;

$box-shadow:              rgba(0,0,0,.12);
$box-shadow-darker:       rgba(0,0,0,.16);

/* fonts */

$brand-font: 'Arvo', sans-serif;

/* globals */

body {
  background-color: $dark-grey;
  box-sizing: border-box;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.row {
  margin: 20px 0;
  border: 1px solid $white-row-border-color;
  background-color: $white;
}

#wrapper {
  padding: 50px 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 420px;
}

.header {
  margin: 0;
  padding: 5px 10px;
  display: block;
  box-shadow: inset 0 -10px 10px -10px $light-grey;
  background-color: $almost-white;
  font-size: 1.2em;
  &-inverse {
    box-shadow: none;
    background-color: $dark-grey-lighter;
    color: $menu-font-color;
    border-bottom: 1px solid $dark-grey-darker;
    border-top: 1px solid $dark-grey-darker;
  }
}

.row-content {
  width: 90%;
  margin: 10px auto;
}

.no-margin {
  margin: 0;
}

.menu-margin-padding {
  margin: 0 25px;
  padding: 5px 10px;
}

.fixed-content {
  top: 0;
  bottom:0;
  z-index: 999;
  position: fixed;
  overflow-y: auto;

}

/* main page */

#left-panel {
  height: 100%;
  width: 220px;
  padding-top: 50px;
}

#main-page {
  min-height: 100%;
  margin-left: 220px;
  background-color: $almost-white;
  padding: 10px 15px;
  border-left: 1px solid $dark-grey-darker;
  &.non-logged, &.edit-page{
    margin: auto;
    width: 100%;
  }
  &.edit-page .row{
    margin: auto;
    width: 320px;
  }
}

/* filters */

#filters-wrapper {
  background-color: $dark-grey;
  height: 100%;
}

#filters {
  color: $menu-font-color;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* inputs */

.form-control {
  border-radius: 20px;
  background-color: $dark-grey-lighter;
  color: $menu-font-color;
  border-color: $dark-grey-lighter;
  cursor: pointer;
  width: 168px;
  font-size: 12px;
}

/* navbar */

nav {
  height: 50px;
  margin: auto;
  width: 100%;
  font-size: 1.2em;
  &.navbar {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $dark-grey-darker;
    background-color: $dark-grey;
    margin-bottom: 0;
    .navbar-brand {
      font-family: $brand-font;
      font-size: 1.7em;
      color: $menu-font-color;
      span {
        text-transform: uppercase;
        color: $medium-blue;
      }
      &:hover {
        color: $almost-white;
        span {
          color: $light-blue;
        }
      }
    }
    li > a {
      color: $menu-font-color;
      font-size: 1.25em;
      text-decoration: none;
      &:hover, &:focus {
        color: $almost-white;
        background-color: $dark-grey;
      }
    }
  }
}

/* login-with-google-icon */

.oauth-icons {
  display: inline-block;
  position: relative;
  width: 80px;
  padding-bottom: 40px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 5%;
  &:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: inherit;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .2s ease;
    border-radius: 5%;
  }
  .text {
    white-space: nowrap; 
    font-size: 0.85em;
    position: absolute;
    overflow: hidden;
    font-family: $brand-font;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    a {
      text-decoration: none;
      color: $almost-white;
      font-weight: bold;
    }
  }
  .fa {
    color: $almost-white;
    font-size: 2em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.google {
  background-color: $google-color;
}

/* cookies */

.cookies-eu-container {
  width: 80%;
  margin: auto;
  text-align: justify;
  &> .text-center {
    margin-top: 20px;
  }
  a {
    color: $dark-grey;
    font-size: 1.5em;
  }
}

.cookies-eu .cookies-eu-button-holder .cookies-eu-ok {
  background-color: $dark-grey;
  color: $almost-white;
  border-radius: 4px;
  padding: 3px 12px;
  &:hover {
    font-weight: bold;
    background-color: $light-grey;
  }
}

/* buttons */

.btn {
  margin: auto;
  color: $almost-white;
  font-size: 12px;
  border: none;
  display: block;
  &:hover, &:focus {
    color: $almost-white;
  }
}

.grey-btn {
  width: 80%;
  background-color: $dark-grey;
  color: $almost-white;
  border-radius: 4px;
  padding: 8px 12px;
  &:hover {
    background-color: $light-grey;
  }
}

.red-border-btn {
  width: 50%;
  margin-top: 15%;
  border: 1px solid $red;
  color: $red;
  &:hover {
    background-color: $red;
  }
  &:focus {
    color: $red;
  }
}

.menu-btn {
  border-bottom: 1px solid $dark-grey-lighter;
  color: $menu-font-color;
  border-radius: 0px;
  background-color: $dark-grey;
  cursor: pointer;
  &:hover {
    color: $almost-white;
  }
}

.white-border-btn {
  margin: 10px 25px;
  border: 1px solid $dark-grey-lighter;
  color: $menu-font-color;
  border-radius: 20px;
  &:hover {
    color: $almost-white;
    border-color: $almost-white;
  }
}

button.navbar-toggle {
  background-color: $almost-white;
  span {
    background-color: $dark-grey; 
  }
}

/* data-table */

#events {
  font-family: $brand-font;
  width: 100%;
  td, th {
    text-align: center;
  }
  tr:hover {
    background-color: $almost-white;
  }
  .fa-reply {
    color: $red;
  }
  .fa-share {
    color: $green;
  }
}

#events_length {
  display: none;
}

#events_filter {
  display: none;
}

#events_info {
  font-weight: bold;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  &:hover, &:active {
    color: $almost-white !important;
    border-color: $dark-grey !important;
    background: none !important;
    background-color: $dark-grey !important;
  }
  &.current {
    border-color: $light-grey !important;
    background: none !important;
    background-color: $almost-white;
  }
}

#data-table {
  clear: both;
}

/* datepicker */

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid $dark-grey;
  background: $dark-grey;
  color: $menu-font-color;
}

/* chart */

#chart-wrapper {
  width: 80%;
  margin: auto;
}

#chart {
  max-height: 573px;
  max-width: 1000px;
  margin: auto;
}

#line, #bar, #points {
  padding: 0 10px;
  margin: 0 10px;
  float: right;
  cursor: pointer;
  border-left: 1px solid $white-row-border-color;
}

.active {
  color: $menu-font-color;
}

/* photo modal */

.modal-dialog {
  width: 672px;
  .grey-btn {
    width: 30%;
  }
  img {
    width: 100%;
  }
}

/* statistics */

#walked-in, #walked-out {
  width: 50%;
  float: left;
  .header span {
    margin-left: 10px;
    color: $light-grey;
    font-weight: normal;
    font-style: italic;
    font-size: 0.85em;
    &:nth-child(3) {
      margin-left: 0;
    }
  }
  span {
    font-weight: bold;
  }
}

#walked-out {
  background-color: $red-opacity;
}

#walked-in {
  background-color: $green-opacity;
}

/* camera */

#camera {
  width: 480px;
  height: 360px;
}


/* medias */

@media only screen and (max-width: 480px) {
  #camera {
    width: 100%;
    height: 75%;
  }
}

@media only screen and (min-width: 768px) {
  #left-panel {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  
  /* main page */

  #left-panel {
    display: none;
  }
  #main-page {
    margin-left: 0;
  }
  .row {
    margin: 10px auto;
  }
  #main-page.non-logged {
    padding-top: 50px;
  }

  /* nav */

  .navbar-nav {
    margin: 0;
  }
  #navbar {
    margin-left: 205px;
    background-color: $dark-grey;
    position: fixed;
    overflow-x: auto;
    right: 0;
    width: 200px;
    text-align: center;
  }
  .container-fluid > .navbar-collapse {
    margin: 0;
  }

  /* chart */

  #chart-wrapper {
    width: 95%;
  }

  /* photo modal */

  .modal-dialog {
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  #camera {
    width: 80%;
    height: 60%;
  }
}