%nav.navbar.navbar-static
  .container-fluid
    .navbar-header
      = link_to 'Monitoring system', root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-right
      %li
        .google.oauth-icons
          .fa.fa-google-plus
          .overlay
            -# .text= link_to "GOOGLE", '/auth/google_oauth2'
            .text= link_to "GOOGLE", ''
