%nav.navbar.navbar-static
  .container-fluid
    .navbar-header
      = link_to 'Monitoring system', root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-right
      %li
        Logged as: 
        = current_user.email
        %a= link_to "Logout", '/logout', method: :delete
