%nav.navbar.navbar-static.mobile
  .container-fluid
    .navbar-header
      = link_to 'Monitoring system', root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to current_user.email, '/'
      %li
        = link_to "Logout", '/logout', method: :delete
